/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    margin: 0 0 15px;
    font-weight: 700;
}

body {

   font-family: 'Raleway', sans-serif;
    line-height: 1.7;
    font-size: 17px;
    color: #737678;

}

a:hover {
    text-decoration: none
}

body,
html {
    height: 100%;
}
a {
    color: #14abf4;
}
.section-padding {
    padding: 80px 0;
}
.pricing-table {
    overflow:  hidden;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

.single-pricing-box {
    width: 33.333333%;
    float: left;
    box-shadow: 0 0 10px#f3f3f3;
    position: relative;
    z-index: 1;
    background: #fff;
    margin-top: 30px;
  
    
}
.single-pricing-box.active {
    position: relative;
    z-index: 2;
    margin-left: -.5%;
    margin-right: -.5%;
    width: 34.333333%;
    overflow: hidden;
    margin-top: 0;
}
.active .pricing-heading:after {
    position: absolute;
    content: "Featured";
    right: -40px;
    top: 20px;
    color: #f91942;
    background: #fff;
    transform: rotate(45deg);
    font-size: 14px;
    padding: 5px 50px;
}
.pricing-heading {
  background: #f9f9f9; 
    color: #898888;
    font-size: 17px;
    padding: 40px;
  
}
.pricing-heading h4 {
  color: #888888;  
    font-weight: 400;
    font-size: 30px;
}
.pricing-heading h1 {
  color: #333333;  
    font-weight: 400;
    font-size: 50px;
}
.pricing-content {
    padding: 60px;
}
.active .pricing-content {
    padding: 73px 60px;
}
.pricing-content ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 35px;
}
.pricing-btn {
    display: inline-block;
    border: 1px solid#f91942;
    color: #f91942;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 50px;
    margin-top: 30px;
}
.pricing-btn:hover {
    background: #f91942;
    color: #fff;
    transition: .3s;
}
.active .pricing-btn {
    background: #f91942;
    color: #fff;
}
.active .pricing-btn:hover {
    background: #fff;
    color: #f91942;
    transition: .3s;
}
.active .pricing-heading {
    background: #f91942;
    color: #fff;
    margin-top: 0px;
    overflow: hidden;
}
.active .pricing-heading h4, .active .pricing-heading h1 {
    
    color: #fff;
}
